body,
html {
    height: 100%;
    font-size: 62.5%;
    font-family: 'Museo Sans Cyrl';
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    /*display: flex;*/
    /*flex-direction: column;*/
}

.container {
    max-width: 1252px;
    margin: 0 auto;
}

.description__title {
    margin-bottom: 40px;
}

.description__title h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
    color: #1B1B20;
}

.tabs__title {
    margin-bottom: 30px;
}

.tabs__title h2 {
    font-weight: 600;
    font-size: 26px;
    line-height: 110%;
    color: #1B1B20;
}

.tabs-nav {
    margin-bottom: 20px;
}

.tabs-nav__row {
    display: flex;
}

.tabs-nav__item {
    display: flex;
    flex: 0 1 25%;
    border: 2px solid #F7F7F7;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

.tabs-nav__item:last-child {
    margin-right: 0;
}

.tabs-nav__item.active {
    border: 2px solid #009DE0;
}

.tabs-nav__radio-label {
    position: relative;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-left: 20px;
    cursor: pointer;
}

.tabs-nav__radio-label:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff;
    border: 1px solid #E3E2E2;
    border-radius: 100px;
}

.tabs-nav__radio-label.active::before {
    border: 2px solid #009DE0;
}

.tabs-nav__radio-label.active::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #009DE0;
    border-radius: 10px;
    top: 6px;
    left: 6px;
}

.tabs-nav__radio {
    display: none;
}

.tabs-nav__title span {
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
}

.tabs__item {
    display: none;
}

.tabs__item.active {
    display: block;
}

.conditions {
    margin: 0 0 20px 0;
}

.conditions__row {
    display: flex;
    background: rgba(48, 49, 132, 0.1);
    border-radius: 10px;
    align-items: center;
    padding: 0 12px 0 0;
}

.conditions__link {
    padding: 12px;
}

.conditions__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    color: #1B1B20;
}

.conditions__text span {
    font-weight: 700;
}

.main-content {
    margin-bottom: 60px;
}

.main-content__row {
    display: flex;
}

.main-content__aside {
    /*flex: 0 0 24%;*/
    flex: 0 0 24.56%;
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-height: 500px;
    overflow: hidden;
    overflow-y: auto;
}

.aside-item {
    padding: 20px;
    border: 2px solid #F7F7F7;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.aside-item:last-child {
    margin-bottom: 0;
}

.aside-item__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
    color: #1B1B20;
    margin-bottom: 10px;
}

.aside-item__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #73737B;
    margin-bottom: 10px;
}

.aside-item__number {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #73737B;
    margin-bottom: 10px;
}

.aside-item__working-hours {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #73737B;
}

.aside-item__delivery-time p {
    color: #1B1B20;
}

.aside-item__delivery-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #73737B;
}

.aside-item__delivery-price span {
    font-weight: 600;
    color: #1B1B20;
    white-space: nowrap;
}

.main-content__map {
    flex: 1 1 auto;
    border-radius: 10px;
    overflow: hidden;
}

.map {
    width: 100%;
    min-height: 400px;
    height: 100%;
}

.map > ymaps {
    border-radius: 10px;
    overflow: hidden;
}

/*scroll*/

.aside-scroll {
    width: 100%;
    height: 100%;
}

.simplebar-scrollbar:before {
    background: #E3E2E2;
}

.simplebar-scrollbar {
    left: 3px;
    width: 7px;
}

/*scroll*/

/*pay-methods*/

.pay-methods {

}

.pay-methods__title {
    font-weight: 600;
    font-size: 26px;
    line-height: 110%;
    color: #1B1B20;
    margin-bottom: 30px;
}

.pay-methods__row {
    display: flex;
    margin-bottom: 60px;
}

.pay-methods__item {
    border: 2px solid #F7F7F7;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 11 33.33%;
    margin-right: 20px;
}

.pay-methods__item:last-child {
    margin-right: 0;
}

.pay-methods__image-row {
    display: flex;
    margin-bottom: 20px;
}

.pay-methods__image {
    margin-right: 20px;
}

.pay-methods__image:last-child {
    margin-right: 0;
}

.pay-methods__text {
    font-size: 16px;
    line-height: 110%;
    color: #1B1B20;
}

/*pay-methods*/

/*tab2*/

.delivery-address__title {
    font-size: 16px;
    line-height: 110%;
    color: #73737B;
    margin-bottom: 8px;
}

.delivery-address__input-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.delivery-address__input-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    right: 15px;
    bottom: 0;
    margin: auto 0;
    cursor: pointer;
}

.delivery-address__input {
    position: relative;
    width: 100%;
    font-size: 16px;
    line-height: 110%;
    color: #1B1B20;
    padding: 16px;
    border: 2px solid #E3E2E2;
    border-radius: 10px;
}

.info-order {
    margin-bottom: 60px;
}

.info-order__row {
    display: flex;
    flex: 0 0 auto;
}

.info-order__date-delivery {
    font-size: 14px;
    line-height: 110%;
    color: #1B1B20;
    margin-right: 20px;
    padding: 12px;
}

.info-order__date-delivery span {
    font-weight: 600;
}

.suggestions-suggestions {
    font-size: 20px;
}
/*tab2*/

.description-zones {
    background: #ffffff;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 120%;
    color: #1B1B20;
}